body{
  background: #0E111F;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.container{
  max-width: 400px;
}
.icon{
  border-radius: 50%;
  width: 100px;
  margin-top: 20px;
}
.text-blue{
  color:#0081FF;
}
.loader{
  display: none;
}
.card{
  margin-top:5em;
  background:rgb(231, 226, 226);
}
.text-red{
  color:#c03546;
}
.mt-3{
  margin-top:30px;
}